/* Custom CSS to override Bootswatch Cerulean settings */

.navbar-brand {
    font-size: 1.5em;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

body {
    background-color: #EAEAF3;
}

.display-5 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
}

.display-6 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
}

.jumbotron {
    background-color: #fff;
    padding: 2rem 2rem;
}

.img-multimedia {
    margin-right: 5px;
    margin-bottom: 10px;
    width: 300px;
    height: auto;
    float: left;
}

.p-multimedia {
    font-size: small;
}

.img-small {
    width: 170px;
    height: 120px;
    float: left;
    border-radius: 1px;
    border-color: #2FA4E7;
}

.img-small:hover {
    border: 2px solid #2FA4E7;
}